# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
*.ipr
META-INF
lib
 
# Mac
.DS_Store
 
# Maven
log/
target/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

#Strati Logs
assignment/

### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
